<main class="banner">
  <div class="home-page">

 <div class="header">
  <h1>Awesome Quote editor</h1>
 </div>
  <p>Create estimates online in seconds</p>

  <% if user_signed_in? %>
    <%= link_to "View quotes", quotes_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
  </div>
</main>
