.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('quote_background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  .home-page {
    padding-left: var(--space-m);
    padding-top: var(--space-xxxxl);
  }

    @include media(tabletAndUp) {
      padding-left: var(--space-xxxxl);
      padding-top: var(--space-xxxxl);
    }

  h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }

  p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .btn {
  margin-top: var(--space-l);
  }
}
