.form-login {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // gap: var(--space-s);

  background:var(--color-background);
  padding: var(--space-m) var(--space-l);
  margin-top: var(--space-xxxxl);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);
  h2 {
    font-size: var(--font-size-xxl);
    font-weight: bold;
    margin-bottom: var(--space-xl);
    text-align: center;
  }
  .form-inputs
  .form-actions {
  width: 100%;
  padding: var(--space-m) var(--space-l);
  margin: var(--space-s) 0;
  display: inline-block;
  }
  .form__group {
    padding-bottom: var(--space-l);
  }

  .btn {
    width: 100%;
    margin-bottom: var(--space-xxl)
  }
}
